@page
@model NotFoundModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/error.css" rel="stylesheet" />
</head>
<body>
    <div class="page404">
        <h1 class="h1404">404</h1>
        <p class="p404">Oops! Something is wrong.</p>
        <a class="button404" href="~/index"> Return to Home page.</a>
    </div>  
</body>
</html>


